.searchBoxContainer{
    padding: 20px 10px 10px;
}

.searchBoxInputBox{
    width: 100%;
    border: 0px solid;
    background-color: rgb(246, 243, 243);
    padding:7px 10px;
    border-radius: 5px;
}

.searchBoxInputBox:focus{
    outline: none;
}

.searchBoxInputBox::placeholder { 
    color: gray;
  }