.analyticsGraphCardContainer{
    
        width: 340px;
        padding: 15px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(175, 173, 173, 0.2);
        /* box-shadow: 0 15px 25px rgba(0,0,0,.1);  */
        border-radius: 5px;
        box-sizing: border-box; 
           
    
}

.analyticsCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}