.signupContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/src/Assets/landingPage.jpeg");
    background-size:cover;
}

.signupDivider{
    padding: 20px;
}

.fullHeight{
    height:100%
}

.cardWidth{
    min-width: 365px;
    max-width: 400px;
}