.analyticsGroupGraphCardContainer{
    padding-top: 20xp;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:820px){
    .analyticsGroupGraphCardContainer{
        flex-direction: column;
    }
}
