.pieCardDetails{
    display: flex;
    flex-direction: column;
}
.pieCardRow{
    width:100%
}
.pieCardPercentValue{
    display: flex;
    justify-content: flex-end;
}

.analyticsCategoryPieCardContainer{
    width: 100%;
        padding: 15px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(175, 173, 173, 0.2);
        box-shadow: 0 15px 25px rgba(0,0,0,.1); 
        border-radius: 5px;
        box-sizing: border-box; 
}
