.pieCardDetails{
    display: flex;
    flex-direction: column;
}
.pieCardRow{
    width:100%
}
.pieCardPercentValue{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.spanPie {
   
        color: #322FD0;
        font-size: 13px;
        font-weight: bold;
    
}

.analyticsCategoryPieCardContainer{
    width: 100%;
        padding: 15px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(132,140,207, 0.4);
        box-shadow: 0 15px 25px rgba(0,0,0,.2);
        border-radius: 5px;
        box-sizing: border-box; 
}
