.containerMinWidth{
    min-width: 360px;
    padding: 40px 10px 10px;
    margin-top: 80px;
}
.columnFlex{
    display: flex;
}

.columnSpaced{
    align-items: center;
    justify-content: space-between;
}

